.backButton {
  align-self: end;
  justify-self: start;
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: #FFFFFF;
  border: 1px solid #808080;
  border-radius: 5px;
  font-size: 1rem;
  font-weight: 700;
  height: 40px;
}

.backButton:hover {
  background-color: #F6F7F8;
  cursor: pointer;
}

.backButton:active {
  background-color: #FFFFFF;
}

.searchResultsContainer {
  grid-row-start: 2;
  width: 100%;
  height: min-content;
}

.searchResultsHeading {
  margin: 0 0 10px 0;
  text-align: left;
  font-style: italic;
}

@media screen and (max-width: 720px) {
  .searchResultsHeading {
    font-size: 1.25rem;
    margin: 5px 0;
  }
}