.backButton {
  align-self: end;
  justify-self: start;
  width: 90px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: #FFFFFF;
  border: 1px solid #808080;
  border-radius: 5px;
  font-size: 1rem;
  font-weight: 700;
  height: 40px;
}

.backButton:hover {
  background-color: #F6F7F8;
  cursor: pointer;
}

.backButton:active {
  background-color: #FFFFFF;
}