.loadingContainer {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loadingIcon {
  width: 40px;
  height: 40px;
}

.errorMessageContainer {
  margin: 20px 0;
}

.warningIcon {
  width: 40px;
  height: 40px;
}

.errorMessage {
  font-size: 1rem;
  margin: 0;
}

.subredditsContainer {
  display: flex;
  flex-direction: column;
  padding: 10px;
  line-height: 1.8rem;
}

.subreddit {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5px;
}

.subredditIcon {
  width: 25px;
  height: 25px;
  margin-right: 8px;
  border-radius: 100%;
  vertical-align: baseline;
}

.subredditLink {
  font-size: 1rem;
  color: #222222;
  text-decoration: none;
  transition: font-weight 0.15s ease-in-out;
}

.subredditLink:hover {
  font-weight: 700;
}