.postsContainer {
  grid-row-start: 2;
}

.linkToReddit {
  display: block;
  font-size: 1rem;
  margin: 0 0 10px 0;
  color: #000000;
  text-decoration: none;
  transition: font-weight 0.15s ease-in-out;
}

.linkToReddit:hover {
  font-weight: 700;
}

.linkToReddit:active {
  color: #D83148;
}