.postContainer {
  border: 1px solid #808080;
  border-radius: 5px;
  background-color: #FFFFFF;
  margin-bottom: 15px;
  display: flex;
}

.postScoreContainer {
  width: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #CCCCCC30;
}

.postScoreUpArrow {
  margin: 10px 0 5px 0;
  border-radius: 50px;
  transition: transform 0.30s, box-shadow 0.30s, background-color 0.40s;
}

.postScoreUpArrow:hover {
  transform: translateY(-5px);
  background-color: #3BCB5680;
  box-shadow: 0 5px 0 #3BCB56;
}

.postScoreDownArrow {
  margin-top: 5px;
  border-radius: 50px;
  transition: transform 0.30s, box-shadow 0.30s, background-color 0.40s;
}
.postScoreDownArrow:hover {
  transform: translateY(5px);
  background-color: #ED001C80;
  box-shadow: 0 -5px 0 #ED001C;
}

.postScore {
  font-size: 12px;
  font-weight: 700;
}

.postContent {
  width: 100%;
}

.postSection {
  margin: 8px 0 8px 8px;
  font-size: 0.85rem;
  font-weight: 500;
  text-align: start;
}

.postTitle {
  text-align: left;
  font-size: 1.125rem;
  margin: 0 8px 8px 8px;
  font-weight: 500;
}

.postText {
  font-size: 0.875rem;
  display: block;
  text-align: left;
  margin: 0;
  padding: 0px 8px 8px 8px;
  overflow: hidden;
}

.postText * {
  max-width: 100%;
  text-align: left;
  margin: 5px 0;
}

.postImage {
  box-sizing: border-box;
  max-width: 100%;
  padding: 0 10px 8px 10px;
  max-height: 70vh;
}

.postVideo {
  box-sizing: border-box;
  max-width: 100%;
  padding: 0 10px 8px 10px;
  max-height: 70vh;
}

.postExternalLinkContainer {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 0 10px 8px 10px;
}

.postExternalUrl {
  color: black;
  text-decoration: underline;
}

.postExternalUrl:hover {
  color: #07599C;
}

.postExternalUrl:active {
  color: #D83148;
}

.postThumbnail {
  margin-left: 8px;
}

.postDetailsContainer {
  display: flex;
  justify-content: space-evenly;
  border-top: 1px solid #808080;
}

.postDetails {
  font-size: 0.85rem;
  padding: 10px 5px;
  margin: 0;
}

.postDetailsComments {
  font-size: 0.85rem;
  padding: 10px 5px;
  margin: 0;
  font-weight: 700;
  color: #000000;
}

.postDetailsCommentsLink {
  font-size: 0.85rem;
  padding: 10px 5px;
  margin: 0;
  font-weight: 700;
  color: #000000;
  text-decoration: none;
  transition: background-color 0.15s ease-in-out;
  border-radius: 5px;
}

.postDetailsCommentsLink:hover {
  background-color: #26262710;
}

@media screen and (max-width: 900px) {
  .postContainer {
    max-width: 640px;
    margin: 0 auto 10px auto;
  }
}

@media screen and (max-width: 510px) {
  .postDetails {
    font-size: 0.75rem;
  }

  .postDetailsComments {
    font-size: 0.75rem;
    font-weight: 400;
  }

  .postDetailsCommentsLink {
    font-size: 0.75rem;
    font-weight: 400;
    text-decoration: underline;
  }
}

@media screen and (max-width: 440px) {
  .postContainer {
    flex-direction: column-reverse;
  }

  .postScoreContainer {
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #FFFFFF;
    border-radius: 5px;
    margin-bottom: 5px;
  }

  .postScore {
    font-weight: 400;
  }

  .postScoreUpArrow {
    width: 16px;
    height: 16px;
    margin: 0 5px;
  }

  .postScoreUpArrow:hover {
    background-color: #3BCB5680;
    box-shadow: none;
    transform: none;
  }

  .postScoreDownArrow {
    width: 16px;
    height: 16px;
    margin: 0 5px;
  }

  .postScoreDownArrow:hover {
    background-color: #ED001C80;
    box-shadow: none;
    transform: none;
  }

  .postDetails, .postDetailsComments, .postDetailsCommentsLink {
    padding: 5px;
  }
}